.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp
.DS_Store
docs/forecasts/
docs/total
docs/tests
docs/daily
docs/rc
docs/R/*
docs/individual/*
docs/data/*
docs/laboratory
docs/raw_data
docs/archive
docs/tmp
R/region.html
R/regions_index.html
R/*.html
raw_data/laboratory1
raw_data/laboratory2
raw_data/sam1
raw_data/sam2
*.swp
~$*.xlsx
